@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    padding: 140px 135px 123px 135px ;
    background: #28293E;
    min-height: 100vh;
}
.texts {
    display: flex;
    justify-content: space-between;
}
.left{
    background-color: #EF6D58;
    
}
.right{
    background-color: yellow;
}
.texts .left h1 {
    color: var(--text-light-accent, #EF6D58);
font-feature-settings: 'clig' off, 'liga' off;

/* H5 */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
letter-spacing: 3px;
text-transform: uppercase;
}
.texts .left h2 {
    margin-top: 17px;
    color: var(--text-light, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* H3 */
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 48px; /* 120% */
}
.texts .left p {
        margin-top: 31px;

    color: var(--text-light-gray, rgba(255, 255, 255, 0.64));
font-feature-settings: 'clig' off, 'liga' off;

/* Text */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.texts .left a {
    margin-top: 29px;
    color: var(--text-light, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* Text */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
text-decoration: none;
}
.right .digital{
    padding: 41px 34px 44px 50px;
    border-radius: 6px 6px 0px 0px;
background: #FFF;
box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
}
.right .digital  .collaj{
    display: flex;
    justify-content: space-between;
}
.right .digital p{
    color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
font-feature-settings: 'clig' off, 'liga' off;

/* Text */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.right .digital .collaj h1{
    color: var(--text-dark, #391400);
font-feature-settings: 'clig' off, 'liga' off;

/* H4 */
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}